# Environment variables
.env

# Dependencies
/node_modules
/.pnp
.pnp.js

# Build output
/build
/.vite
dist/


# IDE & system files
.vscode
.idea
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Optional: IDX / dev environment

